.graph-input {
  width: 0;
  height:0;
  border:none;
  padding: 0 0;
}
.graph-container {
  position: relative;
}
.graph-hint {
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 12px;
  color:gray;
}