.storable-tip {
  width: 180px;
}
.storable-tip span {
  white-space: normal;
}
#company-table {
  position: relative;
  text-align: left;
  min-height: 400px;
}

.seller-tip-source {
  cursor: pointer;
  display: inline-block;
  padding: 4px 5px 4px 5px;
}
.seller-tip {
  text-align: left;
  font-size: 0.7em;
}
.seller-tip-key {
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
}

.seller-tip-image {
  width: 80px;
  height: 80px;
  padding: 5px 5px;
  border: 1px dotted gray;
  margin-left: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 3px 3px 3px;
}

.product {
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 5px 2px 5px;
  border-radius: 4px 4px;
  border: 1px dotted black;
  cursor: pointer;
  user-select: none;
}

.product-tip td {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-tip td:first-child {
  font-weight: 700;
}
.product-tip td:last-child:hover {
  font-weight: 900;
  text-decoration: underline;
}

.product-tip-color div {
  width: 48px;
  height: 16px;
  border-radius: 4px 4px;
  border: 1px solid black;
}

.multi-line-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.multi-line-chart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
}
.chart-tip {
  font-size: 10px;
}

.graph-input {
  height:0;
  border:none;
  padding: 0 0;
}

.chart-tip div:first-child {
  font-weight: bold;
}

.disabling-notes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disabling-notes-top {
}
.disabling-notes-middle {
  display: flex;
}
.disabling-notes-bottom {
}
.disabable {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px 5px 10px;
  background-color: rgb(168, 255, 226);
}
.disabable-label {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.disabable-checkbox {
}
